* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    text-decoration: none;
}

#header{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    background-color: #1d1e20;
}

#logo{
    height: 40px;
}

/* MENU */
#menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#menu ul li a {
    padding: 4px;
    color: white;
    transform: .2s;
}

#menu ul li a:hover{
    font-weight: bold;
    color: #1d1e20;
    border-radius: 3px;
    background-color: white;
}

#flex-menu{
    display: flex;
    justify-content: space-between;
}

#flex-menu h1{ 
    font-size: 100%;
    padding: 5px;
    margin-top: 7%;

    color: white;
}

/* CORPO */
#estrutura{
    display: grid;
    grid-template-areas: 
    "header  header"
    "sidenav content";
    grid-template-rows: 0.14fr 1fr;
    grid-template-columns: minmax(200px, 300px) 1fr;

    height: 100vh;
    width: 100vw;
}

h2 {
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(80, 80, 80);
}

.icon{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 6px;
}

.description{
    color: white;
    margin-left: 3px;
}

#sidenav div {
    width: 100%;
    padding: 5px;
}

#sidenav div:hover {
    cursor: pointer;
    background-color: #333434;

    border-right: 2px solid rgb(27, 200, 27);
}

#sidenav{
    display: flex;
    grid-area: sidenav;
    align-items: center;
    flex-direction: column;
    padding-right: 1px;

    border-right: 0.5px solid #242527;
    background-color: #26272a;
}

#content{
    grid-area: content;
}

#header{
    grid-area: header;
}

@media(max-width: 500px){
    #estrutura {
        grid-template-areas: 
        "header  header"
        "sidenav sidenav"
        "content content";
        grid-template-rows: 80px 40px 1fr;
    }

    h2{
        display: none;
    }

    #sidenav{
        flex-direction: row;
        justify-content: space-between;
    }
    #sidenav div {
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .description{
        font-size: 0.85em;
        margin-top: 3px;
    }
    
    .icon{
    font-size: 1em;
    }
}