header{
    border-radius: 5px;
    background-color: rgba(61, 6, 49, 0.7);
}

header:nth-child(1){
    color: rgb(253, 252, 251);
}

body{
    background-color: rgb(253, 252, 251);
}
/* CABEÇALHO */
#cabecalho {
    border: 1px solid black;
}

#cabecalho:nth-child(1){
    text-align: center;
}

/* MENU */
#menu{
    height: 2rem;
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: space-around;

    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(61, 6, 49, 0.7);
}

/* MENU - COMPONENTES (SELECT E BUTTONS) */
.menu-flex:nth-child(1){
    width: 50%;
    height: 2em;
    display: flex;

   /*background-color: rgb(8, 8, 8);*/
}

.menu-flex:nth-child(1) select{
    width: 12.5em;
    height: 2.30em;
    display: flex;
    flex-basis: 20%;
    margin-left: 0.5%;
    text-align: center;

    border-top: 0px;
    font-weight: bold;
    border-bottom: 0px;
    border-radius: 2px;
    background-color: rgba(229, 188, 220, 0.8);/*rgb(226, 250, 242);*/
}

.menu-flex:nth-child(1) select:hover{
    color: white;
    background-color: rgba(61, 6, 49, 0.8);
}

/* MENU (filho 2)*/
.menu-flex:nth-child(2){
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    
    /*background-color: rgb(255, 94, 0);*/
}

.menu-flex:nth-child(2) div{
    height: 60%;
    padding: 4px;
    margin-right: 2%;

    /*background-color: aqua;*/
}

.link-style{
    padding: 2px;
    font-size: 100%;

    border-radius: 3px;
    text-decoration: none;
    color: rgb(241, 240, 240);
}

.link-style:hover{
    background-color: rgba(61, 6, 49, 1)
}

/* CORPO */
#flexbox-container{
    display: flex;
    margin-top: 1px;
    flex-wrap: wrap;
    
    /*border: 1px solid black;*/
}

.flexbox{
    height: 12.5em;
    width: 12.5em;

    margin-top: 2%;
    margin-left: 2%;

    border: 1px solid black;
    background-color: aliceblue;
}

/* ESTILO CORPO */

.flexbox h2 {
    text-align: center;
    font-size: 1em;
    margin-top: 7.000em; /* se tirar isso, o "item" sobe pro topo junto com o botão*/
}

.flexbox button:hover{
    color: white;
    border: 2px solid black;
    background-color: rgb(248, 28, 200);
}
.flexbox button{
    height: 1.950em;
    width: 7.8125em;
    margin-left: 3.500em;

    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: 1px black solid;
    background-color: rgb(243, 20, 157);
}