* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    text-decoration: none;
}

/* FLEXBOX 1 (SECTION)*/
h1 {
    margin-top: 10px;
    text-align: center;
}

.flexbox{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
}